.question-content {
    padding-top: 40px;
    .content-top {
        .filter {
            display: flex;
            @include max-breakpoint(575) {
                flex-direction: column;
            }
            .filter-class {
                display: flex;
                width: 70%;
                background: #E9E9E9;
                border: 0.5px solid #BFBFBF;
                box-sizing: border-box;
                border-radius: 5px;
                font-style: normal;
                font-weight: 500;
                font-size: 18px;
                color: #000000;
                padding: 20px 30px;
                @include max-breakpoint(575) {
                    width: 95%;
                    flex-direction: column;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 15px;
                    line-height: 20px;
                    margin: 0 10px;
                    order: 2;
                }
                select {
                    width: 146px;
                    height: 42px;
                    background: #FFFFFF;
                    border-radius: 5px;
                    font-style: italic;
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 20px;
                    display: flex;
                    align-items: center;
                    color: #000000;
                    padding-left: 10px;
                    border: none;
                    &:focus {
                        outline: none;
                    }
                    @include max-breakpoint(575) {
                        width: 137px;
                        height: 30px;
                        border-radius: 5px;
                        font-style: normal;
                        font-weight: 500;
                        font-size: 15px;
                        line-height: 20px;
                    }
                }
            }
            .create-question {
                width: 25%;
                background: #EE6217;
                border-radius: 5px;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-left: 20px;
                @include max-breakpoint(575) {
                    order: 1 !important;
                    margin: 10px;
                    width: 95%;
                    height: 48px;
                    background: #EE6217;
                    border-radius: 5px;
                }
                span {
                    font-style: italic;
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 20px;
                    /* or 111% */
                    display: flex;
                    align-items: center;
                    color: #FFFFFF;
                    text-transform: uppercase;
                }
            }
        }
        .care-most {
            width: 100%;
            border-radius: 0px 0px 34px 34px;
            @include max-breakpoint(575) {
                width: 95%;
                margin: 0 10px;
            }
            .title {
                font-style: normal;
                font-weight: 500;
                font-size: 25px;
                line-height: 30px;
                /* or 120% */
                display: flex;
                align-items: center;
                color: #000000;
                text-transform: uppercase;
                padding: 50px 0;
                display: flex;
                align-items: center;
                justify-content: center;
                @include max-breakpoint(575) {
                    font-style: normal;
                    font-weight: 500;
                    font-size: 15px;
                    line-height: 30px;
                }
            }
            .list-questions {
                .item-q {
                    padding-bottom: 30px;
                    .card-body {
                        background: #FFFFFF;
                        border: 0.5px solid #A6A6A6;
                        box-sizing: border-box;
                        border-radius: 15px;
                    }
                    .card {
                        border: none;
                    }
                    .profile {
                        display: flex;
                        flex-direction: column;
                        justify-content: start;
                        align-items: center;
                        @include max-breakpoint(575) {
                            flex-direction: row;
                        }
                        img {
                            width: 50px;
                            height: 50px;
                            border-radius: 50%;
                            @include max-breakpoint(575) {
                                margin-top: 40px;
                            }
                        }
                        .point {
                            font-style: normal;
                            font-weight: normal;
                            font-size: 15px;
                            line-height: 20px;
                            /* or 133% */
                            display: flex;
                            align-items: center;
                            color: #000000;
                            padding: 10px 0;
                            @include max-breakpoint(575) {
                                padding-right: 10px;
                                padding-left: 10px;
                            }
                        }
                        .name {
                            font-style: italic;
                            font-weight: 500;
                            font-size: 15px;
                            line-height: 20px;
                            display: flex;
                            align-items: center;
                            color: #000000;
                            @include max-breakpoint(575) {
                                padding-right: 10px;
                            }
                        }
                    }
                    .heading {
                        display: flex;
                        @include max-breakpoint(575) {
                            padding-left: 50px;
                        }
                        p {
                            font-style: normal;
                            font-weight: 500;
                            font-size: 15px;
                            line-height: 20px;
                            display: flex;
                            align-items: center;
                            color: #000000;
                            padding-right: 10px;
                            padding-left: 10px;
                            border-right: 1px solid #000;
                        }
                        span {
                            font-style: italic;
                            font-weight: 300;
                            font-size: 15px;
                            line-height: 20px;
                            display: flex;
                            align-items: center;
                            color: #000000;
                            padding-left: 10px;
                        }
                    }
                    .noidung-cauhoi {
                        p {
                            font-style: normal;
                            font-weight: normal;
                            font-size: 15px;
                            line-height: 20px;
                            display: flex;
                            align-items: center;
                            color: #000000;
                            padding: 10px 0;
                            @include max-breakpoint(575) {
                                font-style: normal;
                                font-weight: normal;
                                font-size: 12px;
                                line-height: 20px;
                            }
                        }
                    }
                    button {
                        background: #1DBB90;
                        border-radius: 7px;
                        font-style: normal;
                        font-weight: bold;
                        font-size: 20px;
                        line-height: 25px;
                        color: #FFFFFF;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 148px;
                        height: 47px;
                        @include max-breakpoint(575) {
                            width: 93px;
                            height: 33px;
                            font-style: normal;
                            font-weight: bold;
                            font-size: 14px;
                            line-height: 18px;
                        }
                    }
                }
            }
        }
    }
    .content-bottom {
        .new-question {
            width: 100%;
            @include max-breakpoint(575) {
                width: 95%;
                margin: 0 10px;
            }
            .title {
                font-style: normal;
                font-weight: 500;
                font-size: 25px;
                line-height: 30px;
                align-items: center;
                color: #000000;
                text-transform: uppercase;
                padding: 50px 0;
                display: flex;
                align-items: center;
                justify-content: center;
                @include max-breakpoint(575) {
                    font-style: normal;
                    font-weight: 500;
                    font-size: 15px;
                    line-height: 30px;
                }
            }
            .list-questions {
                .item-q {
                    padding-bottom: 30px;
                    .card-body {
                        background: #FFFFFF;
                        border: 0.5px solid #A6A6A6;
                        box-sizing: border-box;
                        border-radius: 15px;
                    }
                    .card {
                        border: none;
                    }
                    .profile {
                        display: flex;
                        flex-direction: column;
                        justify-content: start;
                        align-items: center;
                        @include max-breakpoint(575) {
                            flex-direction: row;
                        }
                        img {
                            width: 50px;
                            height: 50px;
                            border-radius: 50%;
                            @include max-breakpoint(575) {
                                margin-top: 40px;
                            }
                        }
                        .point {
                            font-style: normal;
                            font-weight: normal;
                            font-size: 15px;
                            line-height: 20px;
                            /* or 133% */
                            display: flex;
                            align-items: center;
                            color: #000000;
                            padding: 10px 0;
                            @include max-breakpoint(575) {
                                padding-right: 10px;
                                padding-left: 10px;
                            }
                        }
                        .name {
                            font-style: italic;
                            font-weight: 500;
                            font-size: 15px;
                            line-height: 20px;
                            /* or 133% */
                            display: flex;
                            align-items: center;
                            color: #000000;
                            @include max-breakpoint(575) {
                                padding-right: 10px;
                            }
                        }
                    }
                    .heading {
                        display: flex;
                        @include max-breakpoint(575) {
                            padding-left: 50px;
                        }
                        p {
                            font-style: normal;
                            font-weight: 500;
                            font-size: 15px;
                            line-height: 20px;
                            /* or 133% */
                            display: flex;
                            align-items: center;
                            color: #000000;
                            padding-right: 10px;
                            padding-left: 10px;
                            border-right: 1px solid #000;
                        }
                        span {
                            font-style: italic;
                            font-weight: 300;
                            font-size: 15px;
                            line-height: 20px;
                            /* or 133% */
                            display: flex;
                            align-items: center;
                            color: #000000;
                            padding-left: 10px;
                        }
                    }
                    .noidung-cauhoi {
                        p {
                            font-style: normal;
                            font-weight: normal;
                            font-size: 15px;
                            line-height: 20px;
                            /* or 133% */
                            display: flex;
                            align-items: center;
                            color: #000000;
                            padding: 10px 0;
                            @include max-breakpoint(575) {
                                font-style: normal;
                                font-weight: normal;
                                font-size: 12px;
                                line-height: 20px;
                            }
                        }
                    }
                    button {
                        background: #1DBB90;
                        border-radius: 7px;
                        font-style: normal;
                        font-weight: bold;
                        font-size: 20px;
                        line-height: 25px;
                        /* identical to box height */
                        color: #FFFFFF;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 148px;
                        height: 47px;
                        @include max-breakpoint(575) {
                            width: 93px;
                            height: 33px;
                            font-style: normal;
                            font-weight: bold;
                            font-size: 14px;
                            line-height: 18px;
                        }
                    }
                }
            }
        }
        #loadmore {
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 23px;
            display: flex;
            align-items: center;
            text-decoration-line: underline;
            color: #E29000;
            justify-content: center;
            padding-bottom: 20px;
        }
        .noContent {
            color: #000 !important;
            background-color: transparent !important;
            pointer-events: none;
        }
    }
}