.content-submenu2
    h4 Tập đọc. Cậu bé thông minh
    ul.list-question
        li
            div
                p.question
                    span Câu 1 
                    |    (trang 5 sgk Tiếng Việt 3 tập 1):
                    span  Nhà vua nghĩ ra kế gì để tìm người tài?
                p.answer 
                    span Lời giải
                p Để tìm người tài, nhà vua hạ lệnh cho mỗi làng trong vùng phải nộp một con gà trống biết đẻ trứng, nếu không có cả làng sẽ phải chịu tội.
        li
            div
                p.question
                    span Câu 1 
                    |    (trang 5 sgk Tiếng Việt 3 tập 1):
                    span  Nhà vua nghĩ ra kế gì để tìm người tài?
                p.answer 
                    span Lời giải
                p Để tìm người tài, nhà vua hạ lệnh cho mỗi làng trong vùng phải nộp một con gà trống biết đẻ trứng, nếu không có cả làng sẽ phải chịu tội.
        li
            div
                p.question
                    span Câu 1 
                    |    (trang 5 sgk Tiếng Việt 3 tập 1):
                    span  Nhà vua nghĩ ra kế gì để tìm người tài?
                p.answer 
                    span Lời giải
                p Để tìm người tài, nhà vua hạ lệnh cho mỗi làng trong vùng phải nộp một con gà trống biết đẻ trứng, nếu không có cả làng sẽ phải chịu tội.
    .refer Tham khảo toàn bộ: 
        a(href="#") Ngữ văn lớp 1-2-3
    .view   
        div
            img(src="./images/icons/icon-eye.svg", alt="")
            p Lượt xem
                span 330
        div
            img(src="./images/icons/like.svg", alt="")
            p Thích
                span 33
        div.share     
            p Chia sẻ
            img(src="./images/icons/icon-facebook.svg", alt="")
    .opinion
        h4 Ý kiến 
            span (33)
        form(action="")
            input.form-control(type='text' placeholder='Ý kiến của bạn')
            div
                button.btn.btn-primary.mb-2(type='submit') Gửi
        ul.list-opinion
            li
                .opinion-detail
                    img.opinion-avatar(src="./images/infor/answer.png", alt="")
                    div
                        .opinion-name Nguyễn Hà Linh
                            span.opinion-content Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut ero labore et dolore magna 
                        .count-like
                            img(src="./images/icons/like.svg", alt="")
                            p Thích 
                                span 33
            li
                .opinion-detail
                    img.opinion-avatar(src="./images/infor/answer.png", alt="")
                    div
                        .opinion-name Nguyễn Hà Linh
                            span.opinion-content Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut ero labore et dolore magna 
                        .count-like
                            img(src="./images/icons/like.svg", alt="")
                            p Thích 
                                span 33
            li
                .opinion-detail
                    img.opinion-avatar(src="./images/infor/answer.png", alt="")
                    div
                        .opinion-name Nguyễn Hà Linh
                            span.opinion-content Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut ero labore et dolore magna 
                        .count-like
                            img(src="./images/icons/like.svg", alt="")
                            p Thích 
                                span 33
    .see-more
        a(href="#") Xem Thêm
    .panagation
        button.btn.btn-pre 
            img(src="./images/icons/icon-arrow-pre.svg", alt="") 
            |Trang trước
        button.btn.btn-next 
            |Trang sau
            img(src="./images/icons/icon-arrow-next.svg", alt="")
    .sub-menu2-seemore-lesson
        .seemore-lesson.seemore-lesson-submenu2
            h6 Xem thêm các bài khác
            ul
                li
                    div
                        a(href="") Kể chuyện.Cậu bé thông minh
                li
                    div
                        a(href="") Kể chuyện.Cậu bé thông minh
                li
                    div
                        a(href="") Kể chuyện.Cậu bé thông minh
                li
                    div
                        a(href="") Kể chuyện.Cậu bé thông minh
        .seemore-lesson
            h6 Xem thêm các bài khác
            ul
                li
                    div
                        img(src="./images/icons/icon-smallbook-blue.svg", alt="")
                        a(href="") Măng non - Tuần 2
                li
                    div
                        img(src="./images/icons/icon-smallbook-blue.svg", alt="")
                        a(href="") Măng non - Tuần 2
                li
                    div
                        img(src="./images/icons/icon-smallbook-blue.svg", alt="")
                        a(href="") Măng non - Tuần 2
                li
                    div
                        img(src="./images/icons/icon-smallbook-blue.svg", alt="")
                        a(href="") Măng non - Tuần 2
        .seemore-lesson
            h6 Xem thêm các bài khác
            ul
                li
                    div
                        img(src="./images/icons/icon-smallbook-blue.svg", alt="")
                        a(href="") Măng non - Tuần 2
                li
                    div
                        img(src="./images/icons/icon-smallbook-blue.svg", alt="")
                        a(href="") Măng non - Tuần 2
                li
                    div
                        img(src="./images/icons/icon-smallbook-blue.svg", alt="")
                        a(href="") Măng non - Tuần 2
                li
                    div
                        img(src="./images/icons/icon-smallbook-blue.svg", alt="")
                        a(href="") Măng non - Tuần 2
    .inquiry24h 
        a(href="question.html") Hỏi đáp 247
