.menu__second {
    z-index: 100000;
    width: 80%;
    display: none;
    position: absolute;
    top: 35px;
    left: 0;
    padding: 50px 0px;
    .second__content {
        background: #FFFFFF;
        box-shadow: 10px 20px 20px rgba(0, 0, 0, 0.25);
        border-radius: 20px;
        padding: 50px 56px;
        .nav-link {
            display: flex;
            align-items: center;
            justify-content: space-between;
            p {
                font-style: normal;
                font-weight: 600;
                font-size: 25px;
                line-height: 40px;
                color: #000000;
            }
        }
        .active {
            p {
                color: #EE6217 !important;
            }
            .ar {
                filter: invert(43%) sepia(61%) saturate(2502%) hue-rotate(354deg) brightness(98%) contrast(91%);
            }
        }
        .chuyenmuc__con {
            .list-menu {
                .item-menu {
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    margin-bottom: 20px;
                    img {
                        margin-right: 15px;
                    }
                    a {
                        font-style: normal;
                        font-weight: 500;
                        font-size: 20px;
                        line-height: 25px;
                        color: #000000;
                    }
                }
            }
        }
    }
}

@media (max-width: 1441px) {
    .menu__second {
        .second__content {
            .nav-link {
                p {
                    font-size: 20px !important;
                }
            }
            .chuyenmuc__con {
                .list-menu {
                    .item-menu {
                        a {
                            font-size: 15px !important;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 1281px) {
    .menu__second {
        .second__content {
            .nav-link {
                p {
                    font-size: 18px !important;
                }
            }
        }
        .chuyenmuc__con {
            .list-menu {
                .item-menu {
                    a {
                        font-size: 13px !important;
                    }
                }
            }
        }
    }
}