// CSS TRẢ LỜI CÂU HỎI
#answer-question {
    .modal-content {
        background: #FFFFFF;
        border-radius: 44px;
        border: none;
        .modal-body {
            padding: 50px 100px;
            .heading {
                font-style: normal;
                font-weight: 500;
                font-size: 25px;
                line-height: 30px;
                /* or 120% */
                display: flex;
                align-items: center;
                color: #000000;
                justify-content: center;
                padding-bottom: 30px;
                position: relative;
                &::after {
                    content: '';
                    width: 300px;
                    height: 0.5px;
                    position: absolute;
                    bottom: 0;
                    left: 50%;
                    transform: translateX(-50%);
                    background: #838383;
                    ;
                }
            }
            .modal-a-content {
                .enter-a {
                    margin-top: 20px;
                    textarea {
                        width: 100%;
                        height: 200px !important;
                        resize: none;
                        border: 0.5px solid #000000;
                        box-sizing: border-box;
                        border-radius: 6px;
                        height: 42px;
                        margin-bottom: 20px;
                        padding-left: 20px;
                        &:focus {
                            outline: none !important;
                        }
                    }
                     ::-webkit-input-placeholder {
                        /* Edge */
                        font-style: italic;
                        font-weight: normal;
                        font-size: 15px;
                        line-height: 40px;
                        /* or 267% */
                        display: flex;
                        align-items: center;
                        color: #7B7B7B;
                    }
                }
                .icons {
                    display: flex;
                    align-items: center;
                    img {
                        margin-right: 20px;
                    }
                }
                .send {
                    width: 100%;
                    display: flex;
                    justify-content: flex-end;
                    button {
                        width: 164px;
                        height: 54px;
                        background: #EE6217;
                        border-radius: 11px;
                        font-style: normal;
                        font-weight: 500;
                        font-size: 18px;
                        line-height: 30px;
                        /* or 167% */
                        display: flex;
                        align-items: center;
                        color: #FFFFFF;
                        justify-content: center;
                        text-transform: uppercase;
                    }
                }
            }
        }
    }
}