.category {
    padding-top: 70px;
    h3 {
        margin-bottom: 70px;
    }
    .subjects {
        padding: 0 25px;
        .subjects-item {
            margin-bottom: 40px;
            .title-subject {
                display: flex;
                align-items: flex-end;
                position: relative;
                margin-bottom: 30px;
                &::after {
                    display: block;
                    content: "";
                    position: absolute;
                    bottom: -10px;
                    left: 0;
                    height: 2px;
                    background: #E29000;
                    border-radius: 2.5px;
                    width: 193px;
                }
                img {
                    display: block;
                    margin-right: 20px;
                }
                h4 {
                    color: #E29000;
                    font-size: 20px;
                    text-transform: capitalize;
                    font-weight: 500;
                }
            }
            ul.list-book {
                li {
                    display: flex;
                    margin-bottom: 20px;
                    img {
                        display: block;
                        margin-right: 5px;
                    }
                    a {
                        font-size: 18px;
                        color: #000;
                        font-weight: 500;
                        &::first-letter {
                            text-transform: uppercase;
                        }
                    }
                }
            }
        }
    }
}