@import '../common/common.scss';
.header {
    padding: 20px 0;
    background-color: #E5E5E5;
    @include breakpoint(769) {
        background-color: #fff !important;
        position: relative !important;
    }
    .header__logo {
        width: 241px;
        height: auto;
        a {
            width: 100%;
            img {
                width: 100%;
            }
        }
    }
    .search__input {
        position: relative;
        input {
            width: 405px;
            height: 37px;
            left: 1130px;
            top: 37px;
            border: 0.5px solid #EE6217;
            border-radius: 7px;
            background-color: transparent !important;
            padding-left: 20px;
            @include breakpoint(769) {
                width: 107px !important;
                height: 20px !important;
                border: 0.5px solid #EE6217;
                box-sizing: border-box;
                border-radius: 7px;
            }
        }
        .icon_search {
            position: absolute;
            width: 51px;
            height: 37px;
            right: 0;
            top: 0;
            background: #EE6217;
            border: 1px solid #EE6217;
            box-sizing: border-box;
            border-radius: 0px 7px 7px 0px;
            display: flex;
            align-items: center;
            justify-content: center;
            @include breakpoint(769) {
                width: 23px !important;
                height: 20px !important;
            }
            button {
                border: none;
                background-color: transparent !important;
                display: flex;
                justify-content: center;
                align-items: center;
                img {
                    width: 100%;
                }
                &:focus {
                    outline: none;
                }
            }
        }
        margin-right: 22px;
    }
    .toggle-menu-icon {
        display: none !important;
        @include breakpoint(769) {
            display: block !important;
        }
    }
    .toggle-menu {
        display: none;
        opacity: 0;
        flex-direction: column;
        position: absolute !important;
        top: 65px;
        right: 10px;
        width: 220px;
        background: #FFFFFF;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        z-index: 100000;
        .each__class {
            font-style: normal;
            font-weight: bold;
            font-size: 12px;
            line-height: 15px;
            color: #32312F;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 10px 0;
            border-bottom: 0.5px solid #9B9B9B;
        }
        .header__question,
        .header__library {
            font-style: normal;
            font-weight: bold;
            font-size: 12px;
            line-height: 15px;
            color: #32312F;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 10px 0;
            border-bottom: 0.5px solid #9B9B9B;
        }
        .login-out {
            display: flex;
            flex-direction: column;
            margin: 10px 0;
            align-items: center;
            justify-content: center;
            button {
                background-color: transparent;
                width: 93px;
                height: 23px;
                border: 1px solid #EE6217;
                box-sizing: border-box;
                border-radius: 24px;
                margin-bottom: 10px;
                font-style: normal;
                font-weight: normal;
                font-size: 10px;
                line-height: 11px;
                color: #EE6217;
                &:hover {
                    background: #EE6217;
                    color: #FFFFFF;
                }
            }
        }
    }
    .show {
        display: flex;
        opacity: 1;
        transition: all 0.5s ease;
    }
    .login {
        @include breakpoint(769) {
            display: none !important;
        }
        button {
            padding: 0 10px;
            background-color: transparent;
            border: none;
            font-family: Livvic;
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            line-height: 25px;
            display: flex;
            align-items: center;
            &:nth-child(2) {
                border-left: 2px solid #C5C5C5;
            }
            &:hover {
                color: #EE6217;
            }
            &:focus {
                outline: none;
            }
        }
    }
}

@media all and (max-width: 769px) {
    .header {
        .header__logo {
            a {
                img {
                    width: 75% !important;
                }
            }
        }
    }
}

.header__class {
    padding: 26px 0;
    @include breakpoint(769) {
        display: none;
    }
    .back__white {
        background-color: white;
    }
    .menu {
        justify-content: flex-start;
        align-items: center;
        position: relative;
        &:hover .menu__second {
            display: block;
        }
        a {
            &:hover .each__class {
                background: #EE6217;
            }
            // &:visited .each__class {
            //     background: #EE6217;
            // }
            .each__class {
                padding: 10px;
                background: #1972C5;
                border-radius: 7px;
                display: flex;
                justify-content: center;
                align-items: center;
                font-style: normal;
                font-weight: bold;
                font-size: 20px;
                line-height: 25px;
                color: #FFFFFF;
                margin-right: 30px;
            }
        }
        .header__question,
        .header__library {
            font-style: normal;
            font-weight: bold;
            font-size: 22px;
            line-height: 28px;
            cursor: pointer;
            display: flex;
            align-items: center;
            color: #1972C5;
            text-transform: uppercase;
            margin-right: 30px;
            &:hover {
                color: #EE6217;
            }
        }
    }
}

@media (max-width: 1441px) {
    .header__class {
        .menu {
            a {
                .each__class,
                .header__question,
                .header__library {
                    font-size: 16px !important;
                }
            }
        }
    }
}

@media (max-width: 1281px) {
    .header__class {
        .menu {
            a {
                .each__class,
                .header__question,
                .header__library {
                    font-size: 13px !important;
                }
            }
        }
    }
}

@media (max-width: 1025px) {
    .header__class {
        .menu {
            a {
                .each__class {
                    margin-right: 9px !important;
                }
                .header__question {
                    margin-right: 9px !important;
                }
            }
        }
    }
}