.row.library-home
    .col-md-7.col-sm-12
        iframe(width='100%' height='500px' src='https://www.youtube.com/embed/6t-MjBazs3o' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='')
        p.title-post Bài viết nhiều lượt xem nhất
        ul.list-post
            .row
                .col-md-4.col-sm-6
                    li.item-post
                        .card
                            img.card-img-top(src='./images/home/hot-news.png' alt='Card image cap')
                            .card-body
                                a(href="").card-text
                                | Vì sao nước lại không cháy?
                .col-md-4.col-sm-6
                    li.item-post
                        .card
                            img.card-img-top(src='./images/library/post2.png' alt='Card image cap')
                            .card-body.back-orange
                                a(href="").card-text
                                | Những rào cản ngăn thế hệ trẻ Việt Nam học tập
                .col-md-4.col-sm-6
                    li.item-post
                        .card
                            img.card-img-top(src='./images/home/hot-news.png' alt='Card image cap')
                            .card-body.back-green
                                a(href="").card-text
                                | Vì sao nước lại không cháy?
                .col-md-4.col-sm-6   
                    li.item-post
                        .card
                            img.card-img-top(src='./images/library/post2.png' alt='Card image cap')
                            .card-body
                                a(href="").card-text
                                | Những rào cản ngăn thế hệ trẻ Việt Nam học tập
                .col-md-4.col-sm-6
                    li.item-post
                        .card
                            img.card-img-top(src='./images/home/hot-news.png' alt='Card image cap')
                            .card-body.back-orange
                                a(href="").card-text
                                | Vì sao nước lại không cháy?
                .col-md-4.col-sm-6   
                    li.item-post
                        .card
                            img.card-img-top(src='./images/library/post2.png' alt='Card image cap')
                            .card-body.back-green
                                a(href="").card-text
                                | Những rào cản ngăn thế hệ trẻ Việt Nam học tập
                .col-md-4.col-sm-6  
                    li.item-post
                        .card
                            img.card-img-top(src='./images/home/hot-news.png' alt='Card image cap')
                            .card-body
                                a(href="").card-text
                                | Vì sao nước lại không cháy?
                .col-md-4.col-sm-6
                    li.item-post
                        .card
                            img.card-img-top(src='./images/library/post2.png' alt='Card image cap')
                            .card-body.back-orange
                                a(href="").card-text
                                | Những rào cản ngăn thế hệ trẻ Việt Nam học tập
                .col-md-4.col-sm-6  
                    li.item-post
                        .card
                            img.card-img-top(src='./images/home/hot-news.png' alt='Card image cap')
                            .card-body.back-green
                                a(href="").card-text
                                | Vì sao nước lại không cháy?
                .col-md-4.col-sm-6   
                    li.item-post
                        .card
                            img.card-img-top(src='./images/library/post2.png' alt='Card image cap')
                            .card-body
                                a(href="").card-text
                                | Những rào cản ngăn thế hệ trẻ Việt Nam học tập
                .col-md-4.col-sm-6
                    li.item-post
                        .card
                            img.card-img-top(src='./images/home/hot-news.png' alt='Card image cap')
                            .card-body.back-orange 
                                a(href="").card-text
                                | Vì sao nước lại không cháy?
                .col-md-4.col-sm-6   
                    li.item-post
                        .card
                            img.card-img-top(src='./images/library/post2.png' alt='Card image cap')
                            .card-body.back-green
                                a(href="").card-text
                                | Những rào cản ngăn thế hệ trẻ Việt Nam học tập
                .col-md-4.col-sm-6  
                    li.item-post
                        .card
                            img.card-img-top(src='./images/home/hot-news.png' alt='Card image cap')
                            .card-body
                                a(href="").card-text
                                | Vì sao nước lại không cháy?
                .col-md-4.col-sm-6   
                    li.item-post
                        .card
                            img.card-img-top(src='./images/library/post2.png' alt='Card image cap')
                            .card-body.back-orange
                                a(href="").card-text
                                | Những rào cản ngăn thế hệ trẻ Việt Nam học tập
                
    .col-md-3.col-sm-12
        include ./new-post.pug
    .col-md-2.col-sm-12
        img(src="./images/components/adv.png", alt="")
