.category-page {
    padding-top: 20px;
    .panagation {
        display: flex;
        justify-content: center;
        margin-bottom: 80px;
        .btn {
            width: 168px;
            height: 47px;
            border-radius: 7px;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            font-size: 20px;
            line-height: 25px;
            color: #FFFFFF;
        }
        .btn-pre {
            background: #707070;
            margin-right: 90px;
            img {
                margin-right: 10px;
            }
        }
        .btn-next {
            background: #EE6217;
            img {
                margin-left: 10px;
            }
        }
    }
    .border-category {
        border: 1px solid #E5E5E5;
    }
    .category-centter {
        position: relative;
        .breadcrumb-category {
            .breadcrumb {
                background: unset;
                padding-top: 45px;
                margin-bottom: 45px;
                padding-left: 0px;
                .breadcrumb-item {
                    color: #000;
                    font-size: 15px;
                    font-weight: 600;
                    &:first-child {
                        font-weight: 700;
                        a {
                            color: #000;
                        }
                    }
                }
            }
            .breadcrumb-item+.breadcrumb-item::before {
                content: ">";
                color: #000;
            }
        }
        .category-centter-content {
            border-radius: 20px;
            border: 1px solid #E5E5E5;
            padding: 30px;
            h4.title-book {
                font-style: normal;
                font-weight: 500;
                font-size: 18px;
                line-height: 23px;
                margin-bottom: 35px;
                color: #1972C5;
                ;
            }
            .secction-book {
                h5 {
                    font-weight: 600;
                    font-size: 18px;
                    line-height: 23px;
                    margin-bottom: 30px;
                    cursor: pointer;
                    &:hover {
                        color: #EE6217;
                    }
                }
                ul.list-lesson {
                    li {
                        margin-bottom: 35px;
                        div {
                            display: flex;
                            align-items: center;
                            img {
                                display: block;
                                margin-right: 15px;
                            }
                            h6 {
                                font-weight: 500;
                                font-size: 15px;
                                line-height: 28px;
                                cursor: pointer;
                                &:hover {
                                    color: #EE6217;
                                }
                            }
                        }
                    }
                }
            }
        }
        .content-submenu {
            h4 {
                font-family: Livvic;
                font-size: 25px;
                font-style: normal;
                font-weight: 500;
                line-height: 18px;
                letter-spacing: 0em;
                margin-bottom: 30px;
            }
            ul.list-lesson {
                margin-bottom: 90px;
                padding-left: 25px;
                li {
                    margin-bottom: 30px;
                    font-size: 18px;
                    font-weight: 500;
                    div {
                        &::before {
                            content: '';
                            display: inline-block;
                            width: 13px;
                            height: 13px;
                            background: #1972C5;
                            border-radius: 50%;
                            margin-right: 20px;
                        }
                        a {
                            &::first-letter {
                                text-transform: uppercase;
                            }
                        }
                        span {
                            color: #000;
                        }
                    }
                }
            }
        }
    }
    .category-right {
        padding-left: 15px;
        padding-top: 30px;
        background: #fff;
        h4 {
            font-family: Livvic;
            font-size: 16px;
            font-style: normal;
            font-weight: 600;
            line-height: 20px;
            letter-spacing: 0em;
            margin-bottom: 15px;
        }
        ul.list-category-right {
            li {
                &:last-child {
                    margin-bottom: 50px;
                }
                margin-bottom: 20px;
                div {
                    img {
                        display: block;
                        margin-right: 15px;
                    }
                    a {
                        &:hover {
                            color: blue;
                        }
                        font-family: Livvic;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 20px;
                        letter-spacing: 0em;
                        transition: 0.3s ease;
                        color: #000;
                    }
                }
            }
        }
    }
    .seemore-lesson {
        position: relative;
        margin-left: 15px;
        margin-bottom: 55px;
        &::before {
            display: block;
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            width: 2px;
            left: -16px;
            background: #000;
            height: 100%;
        }
        h6 {
            font-size: 16px;
            font-weight: 600;
            line-height: 20px;
            letter-spacing: 0em;
            color: #000;
            margin-bottom: 20px;
        }
        ul {
            padding-left: 25px;
            li {
                margin-bottom: 25px;
                div {
                    display: flex;
                    align-items: center;
                    img {
                        display: block;
                        margin-right: 10px;
                    }
                    a {
                        &::first-letter {
                            text-transform: uppercase;
                        }
                        &:hover {
                            color: blue;
                        }
                        font-size: 16px;
                        color: #EE6217;
                        transition: 0.3s ease;
                    }
                }
            }
        }
    }
}