.library-home {
    border-right: 1px solid #E5E5E5;
    min-height: 120vh;
    height: 100%;
    .title-post {
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 25px;
        /* identical to box height */
        display: flex;
        align-items: center;
        justify-content: center;
        color: #000000;
        padding: 50px 0px;
    }
    .list-post {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 100px;
        .item-post {
            width: 100%;
            margin-bottom: 20px;
            .card {
                width: 250px;
                background: #FFFFFF;
                border: 0.5px solid #C5C5C5;
                box-sizing: border-box;
                border-radius: 20px;
            }
            .card-body {
                background: #0094AE;
                border-radius: 0px 0px 20px 20px;
                height: 73px;
                font-style: normal;
                font-weight: 500;
                font-size: 15px;
                line-height: 19px;
                display: flex;
                align-items: center;
                justify-content: center;
                color: #FFFFFF !important;
                cursor: pointer;
            }
            .back-orange {
                background: #E29000 !important;
            }
            .back-green {
                background: #1DBB90 !important;
            }
        }
    }
}