.library-post {
    .bread-crum {
        display: flex;
        padding: 20px;
        a {
            font-style: normal;
            font-weight: bold;
            font-size: 15px;
            line-height: 23px;
            /* or 153% */
            display: flex;
            align-items: center;
            color: #000000;
            margin: 0 10px;
        }
    }
    .post-content {
        .content-title {
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            line-height: 30px;
            /* or 150% */
            display: flex;
            align-items: center;
            color: #000000;
        }
        p {
            font-style: normal;
            font-weight: normal;
            font-size: 15px;
            line-height: 30px;
            /* or 200% */
            display: flex;
            align-items: center;
            color: #000000;
            padding-bottom: 30px;
        }
        .social {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            margin-bottom: 30px;
            .social-item {
                display: flex;
                align-items: center;
                a {
                    font-style: normal;
                    font-weight: 500;
                    font-size: 15px;
                    line-height: 19px;
                    display: flex;
                    align-items: center;
                    color: #000000;
                    padding-right: 10px;
                    padding-bottom: 0 !important;
                }
                img {
                    padding-right: 30px;
                }
            }
        }
    }
    .goi-y {
        .goiy-title {
            font-style: normal;
            font-weight: bold;
            font-size: 20px;
            line-height: 20px;
            /* or 100% */
            display: flex;
            align-items: center;
            color: #000000;
            padding: 20px 0
        }
        .list-goiy {
            display: flex;
            .goiy-item {
                margin-right: 40px;
                display: flex;
                flex-direction: column;
                a {
                    font-style: normal;
                    font-weight: 600;
                    font-size: 13px;
                    line-height: 20px;
                    color: #000000;
                    padding-top: 10px;
                    width: 204px;
                    margin-bottom: 50px;
                }
            }
        }
    }
    .others {
        padding-left: 50px;
        border-left: 2px solid #000000;
        margin-bottom: 100px;
        .other-title {
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 23px;
            display: flex;
            align-items: center;
            color: #0C0B0B;
        }
        .list-other {
            .other-item {
                a {
                    font-style: normal;
                    font-weight: normal;
                    font-size: 18px;
                    line-height: 23px;
                    display: flex;
                    align-items: center;
                    text-decoration-line: underline;
                    color: #EE6217;
                    padding: 20px 10px;
                }
            }
        }
    }
}