extends master.pug
block header
   include ./layouts/header.pug
block content
   .container-fluid
      .row
         .col-2
            include ./pages/library/sidebar.pug
         .col-10
            include ./pages/library/library-post.pug
block footer
   include ./layouts/footer.pug

            