@import './../../common/common.scss';
.class-page {
    padding-top: 20px;
    @include breakpoint(1190) {
        padding-top: 0px;
    }
    .class-select {
        &::after {
            display: block;
            bottom: -37px;
            width: 46px;
            height: 46px;
        }
        .list-class-mobile {
            @include breakpoint(575) {
                display: none !important;
            }
        }
        .list-class-pc {
            @include breakpoint(575) {
                display: flex !important;
            }
        }
    }
    .respon {
        display: none;
        @include breakpoint(575) {
            display: block;
        }
    }
    .subjects {
        padding: 0 10px;
        background: #fff;
        padding-top: 70px;
        @include max-breakpoint(575) {
            padding: 0 0px;
            background: #fff;
            padding-top: 40px;
        }
        .title-mobile {
            position: relative;
            h3 {
                display: none;
                @include max-breakpoint(575) {
                    font-size: 18px;
                    font-weight: 500;
                    line-height: normal;
                    letter-spacing: 0em;
                    text-align: center;
                    margin-bottom: 40px;
                    max-width: 70%;
                    margin: auto;
                    margin-bottom: 30px;
                    text-transform: capitalize;
                    display: block;
                }
            }
            a {
                position: absolute;
                top: 5px;
                right: 5px;
                color: #858585;
                font-size: 14px;
                text-transform: uppercase;
            }
        }
        .subjects-item {
            margin-bottom: 40px;
            &.active {
                .list-book {
                    display: block;
                }
                .title-subject {
                    @include max-breakpoint(425) {
                        margin-bottom: 40px;
                    }
                }
            }
            .title-subject {
                display: flex;
                align-items: center;
                position: relative;
                margin-bottom: 50px;
                @include max-breakpoint(425) {
                    margin-bottom: 0px;
                    margin-left: 15px;
                }
                &::after {
                    display: block;
                    content: "";
                    position: absolute;
                    bottom: -10px;
                    left: 0;
                    height: 2px;
                    background: #E29000;
                    border-radius: 2.5px;
                    width: 193px;
                    @include max-breakpoint(425) {
                        height: 0.5px;
                        width: 100%;
                    }
                }
                img {
                    display: block;
                    margin-right: 20px;
                    @include max-breakpoint(425) {
                        weight: 14px;
                        height: 10px;
                        ;
                    }
                }
                h4 {
                    color: #E29000;
                    font-size: 30px;
                    text-transform: capitalize;
                    font-weight: 500;
                    line-height: normal;
                    cursor: pointer;
                    @include max-breakpoint(425) {
                        font-size: 16px;
                    }
                    @include max-breakpoint(991) {
                        font-size: 18px;
                    }
                }
            }
            ul.list-book {
                padding-left: 15px;
                @include max-breakpoint(425) {
                    display: none;
                }
                li {
                    display: flex;
                    margin-bottom: 20px;
                    img {
                        display: block;
                        margin-right: 5px;
                    }
                    a {
                        cursor: pointer;
                        font-size: 23px;
                        color: #000;
                        font-weight: 500;
                        &::first-letter {
                            text-transform: uppercase;
                        }
                        @include max-breakpoint(425) {
                            font-size: 15px;
                            line-height: 19px;
                        }
                        @include max-breakpoint(991) {
                            font-size: 16px;
                        }
                    }
                }
            }
        }
    }
}