.nav-link {
    display: flex;
    align-items: center;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 25px;
    /* identical to box height */
    color: #0C0B0B;
    img {
        width: 14px;
        height: 18px;
        margin-right: 20px;
    }
    button {
        background-color: transparent;
        padding: 0;
    }
}

.active {
    background-color: transparent !important;
    span {
        color: #EE6217;
    }
    .ar {
        filter: invert(43%) sepia(61%) saturate(2502%) hue-rotate(354deg) brightness(98%) contrast(91%);
    }
}

.side-bar-head {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
    .profile-avatar {
        position: relative;
    }
    .add-photo {
        position: absolute;
        bottom: 0;
        right: 20px;
        cursor: pointer;
    }
    p {
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 25px;
        display: flex;
        align-items: center;
        color: #0C0B0B;
        padding: 20px 0;
        span {
            font-style: normal;
            font-weight: 500;
            font-size: 25px;
            line-height: 31px;
            display: flex;
            align-items: center;
            color: #0C0B0B;
        }
    }
}